@page
@using Appsec_webapp.Models
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.DataProtection;
@using Newtonsoft.Json
@model Appsec_webapp.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

@inject IHttpContextAccessor context;
@inject UserManager<ApplicationUser> UserManager
@{
    var userDetail = await UserManager.GetUserAsync(User);
    var userDataJson = context.HttpContext?.Session.GetString("Userdata");
    var userData = JsonConvert.DeserializeObject<ApplicationUser>(userDataJson);
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="mb-4">Change Password @userData.UserName</h2>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }

            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="mb-3">
                    <label asp-for="Input.CurrentPassword" class="form-label">Current Password</label>
                    <input asp-for="Input.CurrentPassword" class="form-control" />
                    <span asp-validation-for="Input.CurrentPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.NewPassword" class="form-label">New Password</label>
                    <input asp-for="Input.NewPassword" class="form-control" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Input.ConfirmNewPassword" class="form-label">Confirm New Password</label>
                    <input asp-for="Input.ConfirmNewPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}