@page
@model ErrorModel
@{
    ViewData["Title"] = "400 - Bad Request";
}

<div class="text-center">
    <h1 class="display-1 text-danger">400 - Bad Request</h1>
    <p class="lead">The request could not be understood by the server due to malformed syntax.</p>
    <p>Please contact the administrator if you believe this is an error.</p>
    
    <a asp-page="/Index" class="btn btn-primary">Go to Home</a>
</div>