@page
@model ErrorModel
@{
    ViewData["Title"] = "401 - Unauthorized";
}

<div class="text-center">
    <h1 class="display-1 text-danger">401 - Unauthorized</h1>
    <p class="lead">You do not have permission to access this resource.</p>
    <p>Please contact the administrator if you believe you should have access to this resource.</p>
    
    <a asp-page="/Index" class="btn btn-primary">Go to Home</a>
</div>